<h1>Overlord has registered the following transactions:</h1>

<table>
    <tr>
        <th>Purchase name</th>
        <th>Cost</th>
        <th>Merchant</th>
        <th>Tag</th>
        <th>Date</th>
    </tr>
    <% for transaction in @transactions %>
    <tr>
        <td><%= transaction.item %></td>
        <td><%= transaction.cost %></td>
        <td><%= transaction.merchant.name %></td>
        <td><%= transaction.tag.name%></td>
        <td><%= transaction.date%></td>
    </tr>
    <% end %>
</table>

<h2>Current monthly spending = £<%= Transaction.total_spent() %></h2>
<p><a href="/transactions/new">-Register new Transaction-</a></p>
<p><a href="/transactions/tag">-Display Costs per Tag-</a></p>
